#background {
  background-color: #fffae6;
}

.name {
  font-size: 55px;
}

span {
  font-weight: 100;
}

span,
h1 {
  color: #ff5f00;
}

.hidden {
  display: none;
}

.form-section {
  background-color: #faa06b;
  border-radius: 10px;
  color: #242424;
}

.skills-bg {
  background-color: #e7e3d0;
  color: #242424;
}

#message {
  height: 200px;
  width: 500px;
}

#fname #email {
  height: 50px;
  width: 100px;
}
