#background {
  background-color: #fffae6;
}

.name {
  font-size: 55px;
}

span {
  font-weight: 100;
}

span,
h1 {
  color: #ff5f00;
}

.hidden {
  display: none;
}

#message {
  font-size: 4em;
}

input,
input::placeholder {
  font-size: 10px sans-serif;
}

.form-section {
  background-color: ;
  border: 1px solid black;
  border-radius: 10px;
}
